/* .hide {
  display: none;
} */

/* input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

input:focus {
  outline: none;
} */
